@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /*Eric Meyer Reset*/
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
      font-family: monospace;
      background:black;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }


/********** ESTILOS GENERALES **********/

:root{
    --color1:#000000;
    --color2:#141414;
    --color3:#1A1A1A;
    --color4:#1F1F1F;
    --color5:#212121;
    --color6:#D9D9D9;
}

body {
    
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #B6B6B6;
  }
  body section {
    background: var(--color2);
    margin: 60px auto 120px;
    border-top: 15px solid var(--color1);
    text-align: center;
    padding: 50px 0 110px;
    width: 80%;
    max-width: 1100px;
  }
  body section h1 {
    margin-bottom: 40px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 100;
  }
  
  form {
    width: 58.3333333333%;
    margin: 0 auto;
  }
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  form .field label {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color1);
    width: 100%;
    padding: 18px 0;
    font-size: 1.45em;
    letter-spacing: 0.075em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field label + span {
    font-family: 'SSStandard';
    opacity: 0;
    color:var(--color6);
    display: block;
    position: absolute;
    top: 12px;
    left: 7%;
    font-size: 2.5em;
    text-shadow: 1px 2px 0 var(--color6);
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field input[type="text"],
  form .field textarea {
    border: none;
    background: #E8E9EA;
    width: 80.5%;
    margin: 0;
    padding: 18px 0;
    padding-left: 19.5%;
    color: #313A3D;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  form .field input[type="text"]#msg,
  form .field textarea#msg {
    height: 18px;
    resize: none;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field input[type="text"]:focus, form .field input[type="text"].focused,
  form .field textarea:focus,
  form .field textarea.focused {
    outline: none;
  }
  form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
  form .field textarea:focus#msg,
  form .field textarea.focused#msg {
    padding-bottom: 150px;
  }
  form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
  form .field textarea:focus + label,
  form .field textarea.focused + label {
    width: 18%;
    background: var(--color6);
    color: #313A3D;
  }
  form .field input[type="text"].focused + label,
  form .field textarea.focused + label {
    color: (var(--color6));
  }
  form .field:hover label {
    width: 18%;
    background: #313A3D;
    color: white;
  }
  form input[type="submit"] {
    background: var(--color3);
    color: white;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form input[type="submit"]:hover {
    background: #313A3D;
    color:var(--color6);
  }
  form input[type="submit"]:focus {
    outline: none;
    background: var(--color6)
  }
  
  a{
        color:white;
        font-size: 2em;
        position: relative;
        text-decoration: none;
        margin-right: auto;
        font-family: 'Chakra Petch', sans-serif;
        position: absolute;
        left:675px;
  }