@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Caveat&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container{
	display:flex;
    display:grid;
    grid-template-columns:repeat(8,1fr) ;
    grid-template-rows: 1fr 100% 1fr 1fr 1fr 1fr 1fr;
    gap:5px;
    grid-template-areas: 
    ". he he he he he he ."
    ". . . . . . . ."
    ". ma ma ma ma ma ma ."
	". ma ma ma ma ma ma ."
	". ma ma ma ma ma ma ."
    ". . . . . . . ."
    "fo fo fo fo fo fo fo fo"
    ;
  }

  header{
	grid-area: he;
	display:flex;
	justify-content: space-between;
    justify-content: flex-end;
	align-items: center;
	flex-direction: row;
 }
  
  
  main{
	grid-area: ma;
	display:flex;
    justify-content: center;
    align-items: center;
	flex-wrap:wrap;
  }

  
  footer{
	grid-area: fo;
	background-color: black;
    display:flex;
    justify-content: center;
	align-items: center;
  }

  li{
	font-family: 'Montserrat Subrayada', sans-serif;
	text-decoration: none;
	color:black;
	flex-direction: row;
  }

  h2{
	font-family: 'Montserrat Subrayada', sans-serif;
	display:flex;
    justify-content: center;
	align-items: flex-end;
	color:white;
  }

  p{
	font-family: 'Bangers', cursive;
	font-size: 6rem;
	color: rgba(51, 63, 238, 0.719);
	display:flex;
    justify-content: center;
    align-items: flex-end;
  }

.svg{
	width:15vw;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}





/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
	//CSS
	
  }
  
  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
	
	//CSS
	
  }
  
  /* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
	
	//CSS
	
  }
  
  /* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
	//CSS
	
  }
  
  /* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
	/*html {
		background-color: coral;
	}
}*/
	//CSS
	
  }
  
  /* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
	
	//CSS
	
  }
  @Aagbator
  
